.project-title {
    height: 10%;
    width: 100%;
}

.project-images {
    border: 0px solid;
    width: 100%;
    height: 35%;
}
.project-images img {
    height: 150px;
    width: auto;
}

.project-description {
    height: 25%;
    width: 100%;
}

.project-links {
    height: 10%;
    width: 100%;
}