.skills {
  border: 2px solid var(--color3);
  border-radius: 5px;
  color: var(--secondary);
  text-align: center;
}
.skill-list {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.skill-item {
  list-style-type: none;
  padding: 4px;
  margin: 5px 10px;
  text-decoration: none;
  border: none;
  color: var(--primary);
}
.skill-item img {
  width: 60px;
  border: none;
}

/* Responsive styles
-------------------------------------------------*/
@media screen and (max-width: 1023px) {
  .skill-list {
    display: block;
  }
  .skill-item,
  .skill-item img {
    display: inline-block;
    min-width: 100px;
  }
}
