.about {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.about button,
.about button:focus {
  width: 95%;
  color: var(--primary);
  display: block;
  border: none;
  background: inherit;
  padding: 0;
}
.about button:active,
.about button:hover {
  background: var(--secondary);
  color: var(--color5);
  cursor: pointer;
}

.left-menu {
  width: 24%;
  margin: 0 1%;
  border-right: 2px solid;
  border-color: var(--secondary);
  text-align: center;
  align-self: center;
}

.right-menu {
  width: 70%;
  height: inherit;
  margin: 0 1%;
  color: var(--primary);
  text-align: justify;
  align-self: center;
}

/* Responsive styles
-------------------------------------------------*/
@media screen and (max-width: 1023px) {
  .about {
    display: block;
    width: 100%;
    text-align: center;
  }
  .about button,
  .about button:focus,
  .about button:active,
  .about button:hover {
    display: inline-block;
    max-width: 15%;
    font-size: 20px;
    padding: 3px;
  }

  .left-menu {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color3);
  }
  .right-menu {
    display: block;
    width: 100%;
    text-align: justify;
  }
}
