form {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
}
form h5 {
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}
form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
}
form .send-btn-container {
    margin: 5px 0;
    align-self: center;
}
form .send-btn-container button,
form .send-btn-container button:focus,
form .send-btn-container button:active {
    color: var(--secondary);
    padding: 8px;
    font-size: 16px;
    min-width: 150px;
    max-width: 350px;
    border: 2px solid;
    border-color: var(--secondary);
}
form .send-btn-container button:hover {
    color: var(--primary);
}
