header {
  align-content: center;
  text-align: center;
}
.header-content {
  display: block;
}
.header-content a,
.header-content a:active,
.header-content a:focus,
.header-content a:hover {
  border: 0;
  padding: 5px;
  font-size: 30px;
  margin-top: 0;
}

.hamburger-menu,
.hamburger-menu:active,
.hamburger-menu:focus,
.hamburger-menu:hover {
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 120px;
  cursor: pointer;
  border: none;
  font-size: 35px;
}

.nav-content {
  display: block;
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 180px;
}
.nav-content .btn {
  display: block;
  border: none;
  text-align: left;
}

.logo-btn,
.logo-btn:active,
.logo-btn:focus,
.logo-btn:hover {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

/* Responsive styles
-------------------------------------------------*/
@media screen and (max-width: 1023px) {
  /* here */
}
